*{
  margin: 0;
}

body {
  background: rgb(255, 219, 225);
}

.contenedor{
  width: 99vw;
  height: 100vh;
  text-align: center;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.question {
  height: 15%;
  width: 30%;
  background-color: #fff0f0;
  border: 8px solid;
  border-color: #ffd9e9;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  border-radius: 0.75em;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  color: #382b22;
  padding: 3%;
  box-shadow: 0 0 130px 10px rgba(253, 105, 179, 0.5);
  animation: brillo 1.5s infinite alternate;
}
@keyframes brillo {
  100% {
  opacity: 1;
  box-shadow: 0 0 40px 12px rgba(255, 255, 255, 7);
  }}

.buttons {
  margin-top: 5%;
  font-family: monospace;
  font-weight: bold;
}

#yesBtn{
  transform: translate(-100%,0);
}

#noBtn{
  position: absolute;
}

button {
  font-size: xx-large;
  padding: 0.75em;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}

button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}

#alertBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  text-align: center;
  max-width: 320px;
}

.hidden {
  display: none;
}

.title {
  font-weight: 900;
  font-size: 2rem;
  color: rgb(2, 6, 12);
}

.description {
  margin-top: 3rem;
  font-size: 0.950rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

#closse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

#closeAlertButton {
  font-size: 0.95rem;
  line-height: 1rem;
  background-color: rgb(255, 145, 178);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

#closeAlertButton:hover {
  background-color: rgb(253, 73, 127);
}

#closeAlertButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#second-sec {
  position: fixed;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  width: 500px;
  height: 254px;
  border-radius: 30px;
  background: rgb(251, 247, 247);
  box-shadow: rgba(212, 68, 179, 0.25) 0px 30px 50px -12px inset, rgba(212, 68, 179, 0.25) 0px 30px 50px -12px inset;
}

.hb {
  color: rgb(172, 172, 172);
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  font-family: monospace;
  padding-top: 13%;
}

.all {
  position: relative;
  width: 1100px;
  flex-wrap: wrap;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.all .cardd {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  margin-top: -7%;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.all .cardd:hover {
  height: 465px;
}

.all .cardd .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.all .cardd .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.all .cardd .content {
  position: relative;
  margin-top: -120px;
  padding: 10px 15px;
  padding-top: 20%;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.all .cardd:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.image {
  height: 200px;
}